.bio {
  width: 100%;
  position: relative;
  background-color: #000;
}

.bio .image img {
  display: block;
  max-width: 100%;
  opacity: 0.4;
}

.bio .content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bio .content h1,
h2,
p {
  color: var(--main-text-color);
  line-height: 1.5;
  font-family: "Times New Roman";
}

.bio .content h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  padding: 0 5px;
}

.bio .content h2 {
  font-size: 1.6rem;
}

.bio .content p {
  font-size: 1.4rem;
  padding: 0 15px;
}

.bio .content .name {
  font-family: juego-de-tronos, "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 2.6rem;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .bio .content {
    padding: 130px;
  }

  .bio .content h1 {
    font-size: 2.2rem;

  }

  .bio .content h2 {
    font-size: 2rem;
  }

  .bio .content p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .bio .content {
    padding: 70px;
  }

  .bio .content h1 {
    font-size: 2.8rem;
  }

  .bio .content h2 {
    font-size: 2.4rem;
  }

  .bio .content p {
    font-size: 2.2rem;
  }
}