/* Reset */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Typography */
@font-face {
  font-family: juego-de-tronos;
  src: url(../font/gt.ttf);
}

/* Colors */
:root {
  --main-brand-color: #002B42;
  --main-bg-color: #000;
  --secondary-bg-color: #cfcffc;
  --tertiary-bg-color: #f5f5f5;
  --main-text-color: #fff;
  --secondary-text-color: #000;
  --burger-line-color: #fff;
  --shadow-color: #000;
  --main-bar-skill: #DC143C;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}


body {
  font-size: 1.6rem;
  /* background-color: var(--main-bg-color); */
  background-color: #0a8ed5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}