.battles {
  background-color: var(--secondary-bg-color);
  padding: 10px;
}

.title {
  text-align: center;
  padding: 30px 0;
  font-family: juego-de-tronos, "Times New Roman", Times, serif;
  font-size: 1.8rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.card .picture .images {
  display: block;
  width: 100%;
}

.subTitle {
  /* padding: 15px 0 0 10px; */
  margin-bottom: 15px;
  font-family: juego-de-tronos, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  text-align: center;
}

.description {
  color: var(--secondary-text-color);
  font-size: 1.4rem;
  padding: 10px;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
  }

  .subTitle {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 80%;
  }

  .subTitle {
    font-size: 1.6rem;
  }
}