/* Menu hamburguesa */
.burguer {
  width: 30px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 100%;
  height: 2px;
  background-color: var(--burger-line-color);
  transition: transform 0.5s ease, opacity 0.3s ease;
  border-radius: 4px;
}

/* Animacion icono hamburguesa */
.burgerAnimation .line1 {
  transform: translateY(7.6px) rotate(45deg);
}

.burgerAnimation .line2 {
  opacity: 0;
}

.burgerAnimation .line3 {
  transform: translateY(-7.6px) rotate(-45deg);
}

@media screen and (width >=1024px) {
  .burguer {
    display: none;
  }
}