.history {
  background-color: var(--tertiary-bg-color);
  padding: 10px;
}

.title {
  text-align: center;
  padding: 30px 0;
  font-family: juego-de-tronos, "Times New Roman", Times, serif;
  font-size: 1.8rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.paragraph {
  line-height: 1.5;
  color: var(--secondary-text-color);
  padding-bottom: 20px;
}

.info .picture .image {
  display: block;
  width: 100%;
}

.skillContainer {
  padding-bottom: 10px;
}

.skillItem {
  padding: 10px 0;
}

.skillName {
  margin-bottom: 5px;
  font-size: 1.6rem;
}

.skillBar {
  width: 100%;
  height: 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2px;
  background-color: var(--main-brand-color);
}

.skillBar-1,
.skillBar-2,
.skillBar-3 {
  height: 14px;
  border-radius: 10px;
}

.skillBar-1 {
  width: 92%;
  background-color: var(--main-bar-skill);
}

.skillBar-2 {
  width: 85%;
  background-color: var(--main-bar-skill);
}

.skillBar-3 {
  width: 97%;
  background-color: var(--main-bar-skill);
}

/* Media queries */
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
  }

  .description {
    width: 50%;
  }

  .paragraph {
    padding-bottom: 10px;
  }

  .info {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 80%;
  }

  .description {
    width: 70%;
  }

  .paragraph {
    padding-bottom: 18px;
  }

  .info {
    width: 30%;
  }
}