.footer {
  height: 60px;
  background-color: var(--main-brand-color);
  color: var(--main-text-color);
  font-family: juego-de-tronos, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}